.App{
  height: 48em;
  display: grid;
  grid-gap: 0.5em;
  column-count: 2;
  grid-template-columns: 40% 60%;
  grid-template-rows: 50% 20% 30%;
}

.App > div{
  display: block;
  background-color: darkgray;
  border: 0.5em solid;
  border-color: darkorchid;
}

.Game{
  grid-row: 1 / span 2;
  grid-column: 2;
}

.Game_settings{
  grid-row: 3;
  grid-column: 2;
}

.Personal_scores{
  grid-row: 2 / span 2;
}