.App{
  margin: 1em;
  display: grid;
  grid-gap: 0.5em;
  column-count: 2;
  grid-template-columns: 40% 60%;
  grid-template-rows: 50% 50%;
}

.Game{
  grid-row: 1 / span 2;
  display: grid;
  grid-gap: 0.5em;
  grid-template-rows: 70% 30%;
}

.App > div:not(:last-child), .Game > div{
  display: block;
  background-color: darkgray;
  border: 0.5em solid;
  border-color: darkorchid;
}

.Gameboard{
  position: relative;
  grid-row: 1;
  text-align: center;
  vertical-align: center;
}

canvas{
  height: 100%;
  width: 100%;
}

.Cover{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.4;
  backdrop-filter: blur(10px);
  background-color: white;
}

.Start_button{
  position: absolute;
  top: 50%;
  left: 46%;
}

.Game_over_text{
  position: absolute;
  top: 45%;
  left: 45%;
}

.Game_settings{
  grid-row: 2;
  text-align: center;
}

.Personal_scores{
  grid-row: 2;
}

#speed-slider{
  width: 75%;
}